@import url(https://fonts.googleapis.com/css?family=VT323);

.App {
  text-align: center;
  gap: 10vh;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #e5e7ea;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: white;
  background: linear-gradient(270deg, #fdca40, #a40606);
  background-size: 400% 400%;
  -webkit-animation: GradyGraydient 3s ease infinite;
  -moz-animation: GradyGraydient 3s ease infinite;
  animation: GradyGraydient 3s ease infinite;
  font-family: VT323;
}
@-webkit-keyframes GradyGraydient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradyGraydient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradyGraydient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.meta {
  font-size: 30px;
}